.app {
  padding: 5% ;
}

h2 {
  text-align: center;
}

form {
  width: 60%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}

.form-input {
  margin: 10px 0px;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: .25rem;
  border: 1px solid lightgrey;
  padding: .375rem .75rem;
  outline: none;
}

button {
  background-color: rgb(26, 27, 27);
  color:snow;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}

.blog-post-display {
  border: 1px solid lightgrey;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}